* {
    margin: 20px;
    font-family: Arial, sans-serif;
    padding: 10px;
}

nav {
    display: flex;
    background-color: #e01b1b;
    gap: 10px;
    font-weight: bold;
    font-size: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 20px;
}

h1 {
    color: #0d2bda;
}

ul li{
    list-style-type: none;
    padding: 10px;
    margin: 20px 0 5px 0;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
}